<app-header></app-header>
<div class="container mt-4 margin-top">
  <!-- Input para buscar por nombre de plato -->
  <div class="row mb-4">
    <div class="col-12">
      <input type="text" class="form-control" placeholder="Búscar plato" (input)="contieneLaPalabra($event.target)">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mb-4" *ngFor="let plato of listadoFiltrado">
      <div class="card custom-rounded"> 
        <div class="card-body">
          <img src="{{ plato.imagenUrl }}" class="card-img-top  custom-rounded " alt="{{ plato.nombre }}">
          <h5 class="card-title" class="titulo">{{ plato.nombre }}</h5>
          <div class="d-flex" style="justify-content: center;">
            <div class="btn-group">
              <button class="btn btn-secondary" (click)="restarCantidad(plato)">-</button>
              <span class="btn btn-light">{{ plato.cantidad }}</span>
              <button class="btn btn-secondary" (click)="aumentarCantidad(plato)">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title">Título del Carrito</h4> -->
    <button type="button" class="close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Contenido del carrito aquí -->
  </div>
</ng-template>


  
