.card {
  height: fit-content;
  width: fit-content;
  border: 1px solid #ccc; /* Agrega un borde de 1px de grosor con color gris (#ccc) */
  padding: 10px; /* Agrega un espacio interno de 10px al contenido de la tarjeta */
  border-radius: 5px; /* Agrega bordes redondeados con un radio de 5px */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Agrega una sombra para dar profundidad a la tarjeta */
  text-align: center;
  align-items: center;
  justify-content: center;
}
.centro{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cardd {
  height: fit-content;
 /*  width: fit-content; */
  border: 1px solid #ccc; /* Agrega un borde de 1px de grosor con color gris (#ccc) */
  padding: 10px; /* Agrega un espacio interno de 10px al contenido de la tarjeta */
  border-radius: 5px; /* Agrega bordes redondeados con un radio de 5px */
  align-items: center;
  position: relative;
  /* display: flex; */
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0,0,0,.125); */
  /* border-radius: 0.25rem; */

}
